@import 'font/helvetica/stylesheet.css';

// variables

$base-font:  'helveticaneuemedium';
$base-font-size: 16px;
$base-bgr-color: #d2e1ff;

$panel-bgr-color: #ffffff;
$section-bgr-color: #dedede;

$section-header-bgr-color: #ffc600;
$section-header-overlay-color: #c78215;
$button-bgr-color: #3e4ab8;
$button-delete-bgr-color: red;

$panel-width: 695px;
//$panel-height: 385px;
$panel-height: auto;

$button-width: 130px;
$button-height: 30px;

$section-width: 100%;

$section-head-width: $section-width;
$section-head-height: 60px;

$section-content-height: 220px;
//$section-content-height: auto;

$section-height: 280px;

 
// shadows

// inner 
@mixin base-inner-shadow($color, $size, $opacity) {
	-webkit-box-shadow: inset 0px 0px $size $size rgba($color,$opacity);
	-moz-box-shadow: inset 0px 0px $size $size rgba($color,$opacity);
	box-shadow: inset 0px 0px $size $size rgba($color,$opacity);	
}

@mixin base-inner-shadow-input($color, $size1, $size2, $opacity) {
	-webkit-box-shadow: inset 0px 0px $size1 $size2 rgba($color,$opacity);
	-moz-box-shadow: inset 0px 0px $size1 $size2 rgba($color,$opacity);
	box-shadow: inset 0px 0px $size1 $size2 rgba($color,$opacity);	
}

// outer
@mixin base-font-shadow($color, $size, $opacity) {
	text-shadow: $size $size $size rgba($color,$opacity);			
}


// gradients


// header

// button
@mixin base-overlay($color, $opacity) {
	background: $button-bgr-color; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(180deg,rgba($color, 1),rgba($color, $opacity)); /*Safari 5.1-6*/
	background: -o-linear-gradient(180deg,rgba($color, 1),rgba($color, $opacity)); /*Opera 11.1-12*/
	background: -moz-linear-gradient(180deg,rgba($color, 1),rgba($color, $opacity)); /*Fx 3.6-15*/
	background: linear-gradient(180deg, rgba($color, 1), rgba($color, $opacity)); /*Standard*/
}

 
// panel, section sizes


// panel

// section


// radius

@mixin base-radius($size) {
	border-radius: $size $size $size $size;	
}










