
@import 'reset';
@import 'mixins';

body {
	font-family: $base-font;
	font-size: $base-font-size;
	background-color: $base-bgr-color;
}

/*
* elements
*/

.panel {
	display: block;
	margin-left: auto;
	margin-right: auto;	
	
	width: $panel-width;
	height: $panel-height;
	background-color: $panel-bgr-color;
	padding: 5px 5px 5px 5px;
	
	@include base-radius(10px);
}

.section {
	// width: $section-width;
	//height: $section-height;
	background-color: $section-bgr-color;
	//margin-top: -10px;
	
	@include base-radius(10px);	
}

.section-head {
	width: $section-head-width;
	height: $section-head-height;
	background-color: $section-header-bgr-color;
	color: white;
	margin-top: 7px;

	
	@include base-radius(10px);
	@include base-overlay($section-header-bgr-color, .48); 
}

.section-head:hover, .button-next:hover {
	cursor:pointer;	
}

.section-head-text {
	padding-top: $section-head-height/2 - $base-font-size/2;
	padding-left: 20px;
	
	@include base-font-shadow(#686868, 1px, 1);
}

.section label {
	display:block;
	margin: 7px 7px 7px 7px;
}

.section-content {
	position: relative;
	height: $section-content-height;	
}

.input-group {
	float: left;	
}

.clearfix {
	clear: both;
}

.input-field {
	height: 40px;
	width: 210px;
	margin: 7px 7px 7px 7px;
	border: none;
	padding-left: 10px;
	padding-right: 5px;
	
	@include base-radius(10px);
	@include base-inner-shadow-input(black, 9px, 2px, .48);	
}

.comments {
	height: 145px;
	width: 390px;
	margin: 7px 7px 7px 7px;
	border: none;
	padding: 7px;
	
	@include base-radius(10px);
	@include base-inner-shadow-input(black, 9px, 2px, .48);		
}

.button-holder {
	position: absolute;
	bottom: 15px;
	right: 13px;
}

.button-next {
	//position: absolute;
	//bottom: 0;	
	
	width: $button-width;
	height: $button-height;
	color: white;
	border: none;
	font-size: $base-font-size;
	//margin-right: 13px;
	//float: right;	
	
	@include base-overlay($button-bgr-color, .48);
	@include base-inner-shadow(white, 2px, .48);
	@include base-radius(10px);
	@include base-font-shadow(#686868, 1px, 1); 
}

.button-delete {
	@extend .button-next;
	@include base-overlay($button-delete-bgr-color, .48);
	
	margin-left: 15px;
	margin-bottom: 15px;
}

#gender {
	
}

#dob input{
	width: 48px;
}

.results {
	//@extend .panel;	
}

.results .section-content {
	height: auto;	
}

.results .section-content button {
	margin: 20px;	
}

.card {
	background-color: $section-bgr-color;
	@include base-radius(10px);	
}

.card .head {
	//@extend .section-head;
	@extend .section-head-text;
	
	height: 20px;
	margin-top: 5px;
	margin-bottom: 5px;	
}

.card .content {
	padding: 12px;
}

.card *> .contact {
	
}

.contact a {
	text-decoration: none;
	color: 	$button-bgr-color;
}

.card *> .detail {
	font-size: 0.9em;
}

.card > * .comment {
	width: 80%;
	margin-top: 5px;
}

.error-msg {
	font-size: 0.9em;
	background-color: red;
	color: white;
	padding: 10px;
	opacity: 0.7;
	
	@include base-radius(10px);
	@include base-font-shadow(#686868, 1px, 1);
}

/*
* Style initialization
*/

#section1 .section-content {
	display: block;
}

#section2 .section-content, #section3 .section-content {
	display: none;
}

