@import url(font/helvetica/stylesheet.css);
body {
  font-family: "helveticaneuemedium";
  font-size: 16px;
  background-color: #d2e1ff; }

/*
* elements
*/
.panel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 695px;
  height: auto;
  background-color: #ffffff;
  padding: 5px 5px 5px 5px;
  border-radius: 10px 10px 10px 10px; }

.section {
  background-color: #dedede;
  border-radius: 10px 10px 10px 10px; }

.section-head {
  width: 100%;
  height: 60px;
  background-color: #ffc600;
  color: white;
  margin-top: 7px;
  border-radius: 10px 10px 10px 10px;
  background: #3e4ab8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #ffc600, rgba(255, 198, 0, 0.48));
  /*Safari 5.1-6*/
  background: -o-linear-gradient(180deg, #ffc600, rgba(255, 198, 0, 0.48));
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(180deg, #ffc600, rgba(255, 198, 0, 0.48));
  /*Fx 3.6-15*/
  background: linear-gradient(180deg, #ffc600, rgba(255, 198, 0, 0.48));
  /*Standard*/ }

.section-head:hover, .button-next:hover, .button-delete:hover {
  cursor: pointer; }

.section-head-text, .card .head {
  padding-top: 22px;
  padding-left: 20px;
  text-shadow: 1px 1px 1px #686868; }

.section label {
  display: block;
  margin: 7px 7px 7px 7px; }

.section-content {
  position: relative;
  height: 220px; }

.input-group {
  float: left; }

.clearfix {
  clear: both; }

.input-field {
  height: 40px;
  width: 210px;
  margin: 7px 7px 7px 7px;
  border: none;
  padding-left: 10px;
  padding-right: 5px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.48);
  box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.48); }

.comments {
  height: 145px;
  width: 390px;
  margin: 7px 7px 7px 7px;
  border: none;
  padding: 7px;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.48);
  -moz-box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.48);
  box-shadow: inset 0px 0px 9px 2px rgba(0, 0, 0, 0.48); }

.button-holder {
  position: absolute;
  bottom: 15px;
  right: 13px; }

.button-next, .button-delete {
  width: 130px;
  height: 30px;
  color: white;
  border: none;
  font-size: 16px;
  background: #3e4ab8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, #3e4ab8, rgba(62, 74, 184, 0.48));
  /*Safari 5.1-6*/
  background: -o-linear-gradient(180deg, #3e4ab8, rgba(62, 74, 184, 0.48));
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(180deg, #3e4ab8, rgba(62, 74, 184, 0.48));
  /*Fx 3.6-15*/
  background: linear-gradient(180deg, #3e4ab8, rgba(62, 74, 184, 0.48));
  /*Standard*/
  -webkit-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.48);
  -moz-box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.48);
  box-shadow: inset 0px 0px 2px 2px rgba(255, 255, 255, 0.48);
  border-radius: 10px 10px 10px 10px;
  text-shadow: 1px 1px 1px #686868; }

.button-delete {
  background: #3e4ab8;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(180deg, red, rgba(255, 0, 0, 0.48));
  /*Safari 5.1-6*/
  background: -o-linear-gradient(180deg, red, rgba(255, 0, 0, 0.48));
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(180deg, red, rgba(255, 0, 0, 0.48));
  /*Fx 3.6-15*/
  background: linear-gradient(180deg, red, rgba(255, 0, 0, 0.48));
  /*Standard*/
  margin-left: 15px;
  margin-bottom: 15px; }

#dob input {
  width: 48px; }

.results .section-content {
  height: auto; }

.results .section-content button {
  margin: 20px; }

.card {
  background-color: #dedede;
  border-radius: 10px 10px 10px 10px; }

.card .head {
  height: 20px;
  margin-top: 5px;
  margin-bottom: 5px; }

.card .content {
  padding: 12px; }

.contact a {
  text-decoration: none;
  color: #3e4ab8; }

.card * > .detail {
  font-size: 0.9em; }

.card > * .comment {
  width: 80%;
  margin-top: 5px; }

.error-msg {
  font-size: 0.9em;
  background-color: red;
  color: white;
  padding: 10px;
  opacity: 0.7;
  border-radius: 10px 10px 10px 10px;
  text-shadow: 1px 1px 1px #686868; }

/*
* Style initialization
*/
#section1 .section-content {
  display: block; }

#section2 .section-content, #section3 .section-content {
  display: none; }

/*# sourceMappingURL=style.css.map */
